<h1>Listing check results</h1>

<table border="1">
  <thead>
    <tr>
      <th>result</th>
      <th>session</th>
      <th>check_point_id</th>
      <th>check_route_id</th>
    </tr>
  </thead>

  <tbody>
    <% @check_results.each do |check_result| %>
      <tr>
        <td><%= check_result.result %></td>
        <td><%= check_result.session %></td>
        <td><%= check_result.check_point_id %></td>
        <td><%= check_result.check_route_id %></td>
        <td><%= link_to 'Show', check_result %></td>
        <td><%= link_to 'Edit', edit_check_result_path(check_result) %></td>
        <td><%= link_to 'Destroy', check_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check result', new_check_result_path %>
