<h1>Check Result</h1>

<p>
  <strong>check_session_id:</strong>
  <%= @check_result.check_session_id %>
</p>
<p>
  <strong>check_point_id:</strong>
  <%= @check_result.check_point_id %>
</p>
<p>
  <strong>value:</strong>
  <%= @check_result.value %>
</p>

<p>
  <strong>result:</strong>
  <%= @check_result.result %>
</p>

<p>
  <strong>check time:</strong>
  <%= @check_result.check_time %>
</p>




<%= link_to 'Edit', edit_check_result_path(@check_result) %> |
<%= link_to 'Back', check_results_path %>
