<div class="container">
  <%= form_for resource, as: resource_name, url: session_path(resource_name),
               html: {class: "form-signin", role: "form"} do |f| %>
    <h2 class="form-signin-heading">登入</h2>
    <%= f.email_field :email, class: "form-control", placeholder: "电子邮箱", autofocus: true, required: true %>
    <%= f.password_field :password, class: "form-control", placeholder: "密码", required: true %>

    <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me%> <%= f.label "记住登入", style: "padding-top: 2px"%>
      </label>
    <% end -%>

    <div>
      <div style="float: left; width: 50%">
        <%= f.submit "登入", class: "btn btn-lg btn-primary btn-block" %>
      </div>
      <div style="float: left; width: 50%">
        <label style="margin-top: 5px">
          <a href="/users/password/new" class="pull-right">忘记密码？</a>
        </label>
      </div>
    </div>
  <% end %>
</div>