<% provide(:title, '图表') %>

<div style="text-align: center; margin: 20px">
  <h3>
    <%= @point.name %> <%= @point.description %>
  </h3>
</div>
<div style="text-align: center">
  <canvas id="graph" width="500px" height="400px">
    Your web-browser does not support the HTML 5 canvas element.
  </canvas>
</div>

<div style="text-align: center">
  <h5><span id="dateRange"></span></h5>
</div>

<script type="application/javascript">
  function drawChart() {
    if(!!document.createElement('canvas').getContext){ //check that the canvas
      // element is supported
      var chart = new AwesomeChart('graph');
      chart.chartType = '<%= @type %>';
      chart.data = <%= @results.map {|k,v| v} %>;
      chart.labels = <%= @results.map {|k,v| k}.to_s.html_safe %>
      chart.draw();
    }
  }

  function showDateRange() {
    $("span#dateRange").text(dateRangeToString(new Date(<%= @startTime %>), new Date(<%= @endTime %>)))
  }

  function onLoad() {
    drawChart();
    showDateRange();
  }

  window.onload = onLoad;
</script>