<%= form_for @check_point  do |f| %>
  <% if @check_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_point.errors.count, "error") %> prohibited this check_point from being saved:</h2>

      <ul>
      <% @check_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :barcode %><br>
    <%= f.text_area :barcode %>
  </p>

  <p>
     <%= f.label :asset_id %><br>
     <%= f.text_field :asset_id %>
  </p>

  <p>
      <%= f.label :looknum %><br>
      <%= f.text_field :looknum %>
  </p>

    <p>
      <%= f.label :cstm_tpmid %><br>
      <%= f.text_field :cstm_tpmid %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :hasld %><br>
      <%= f.text_field :hasld %>
    </p>

    <p>
      <%= f.label :period_unit %><br>
      <%= f.text_field :period_unit %>
    </p>

    <p>
      <%= f.label :standard %><br>
      <%= f.text_field :standard %>
    </p>

    <p>
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </p>

    <p>
      <%= f.label :hi_warn %><br>
      <%= f.text_field :hi_warn %>
    </p>

    <p>
      <%= f.label :period %><br>
      <%= f.text_field :period %>
    </p>

    <p>
      <%= f.label :site_id %><br>
      <%= f.text_field :site_id %>
    </p>
    <p>
      <%= f.label :warn_type %><br>
      <%= f.text_field :warn_type %>
    </p>

    <p>
      <%= f.label :tpm_num %><br>
      <%= f.text_field :tpm_num %>
    </p>

    <p>
      <%= f.label :operator %><br>
      <%= f.text_field :operator %>
    </p>

    <p>
      <%= f.label :lo_warn %><br>
      <%= f.text_field :lo_warn %>
    </p>
    <p>
      <%= f.label :tpm_type %><br>
      <%= f.text_field :tpm_type %>
    </p>

    <p>
      <%= f.label :lo_danger %><br>
      <%= f.text_field :lo_danger %>
    </p>








    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
