<h1>Check Point</h1>
<p>
  <strong>looknum:</strong>
  <%= @check_point.looknum %>
</p>

<p>
  <strong>asset_id:</strong>
  <%= @check_point.asset_id %>
</p>

<p>
  <strong>cstm_tpmid:</strong>
  <%= @check_point.cstm_tpmid %>
</p>
<p>
  <strong>description:</strong>
  <%= @check_point.description %>
</p>
<p>
  <strong>asset_id:</strong>
  <%= @check_point.asset_id %>
</p>
<p>
  <strong>hasld:</strong>
  <%= @check_point.hasld %>
</p>
<p>
  <strong>period_unit:</strong>
  <%= @check_point.period_unit %>
</p>
<p>
  <strong>standard:</strong>
  <%= @check_point.standard %>
</p>
<p>
  <strong>status:</strong>
  <%= @check_point.status %>
</p>
<p>
  <strong>hi_warn:</strong>
  <%= @check_point.hi_warn %>
</p>
<p>
  <strong>period:</strong>
  <%= @check_point.period %>
</p>
<p>
  <strong>warn_type:</strong>
  <%= @check_point.warn_type %>
</p>

<p>
  <strong>site_id:</strong>
  <%= @check_point.site_id %>
</p>


<p>
  <strong>tpm_num:</strong>
  <%= @check_point.tpm_num %>
</p>


<p>
  <strong>operator:</strong>
  <%= @check_point.operator %>
</p>


<p>
  <strong>lo_warn:</strong>
  <%= @check_point.lo_warn %>
</p>


<p>
  <strong>tpm_type:</strong>
  <%= @check_point.tpm_type %>
</p>

<p>
  <strong>lo_danger:</strong>
  <%= @check_point.lo_danger %>
</p>








<%= link_to 'Edit', edit_check_point_path(@check_point) %> |
<%= link_to 'Back', check_points_path %>
