<div class="containerDiv" id="preferencesDiv">
  <div>
    <span class="hiddenSpan" id="recordsIfNoneMatch"></span>
    <span class="hiddenSpan" id="recordsIfModifiedSince"></span>
    <span class="hiddenSpan" id="recordsCalendarUpdated">false</span>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>起始时间</div>
      <div id="startTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>结束时间</div>
      <div id="endTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 15%" class="calendarWidgetDiv">
      <button type="button" class="btn btn-primary" style="margin-top: 16px" id="updateRecordsTableButton">
        更新数据
      </button>
    </div>
  </div>
</div>
<div class="containerDiv" id="routesDiv">
  <%if @show_full_view %>
    <div id="factories" style="display: <%= @show_full_view ? 'block' : 'none' %>">
      <span class="hiddenSpan" id="factoriesIfNoneMatch"></span>
      <span class="hiddenSpan" id="factoriesIfModifiedSince"></span>
      <div id="factoryDetails">
        <div class="btn-toolbar" id="factoriesTreeControlButtons">
          <div class="btn-group">
            <button type="button" class="btn btn-default" id="openTree">全部展开</button>
            <button type="button" class="btn btn-default" id="collapseTree">全部合拢</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary" id="toRoutes">查看选中路线</button>
          </div>
        </div>
        <div id="factoriesTree">
        </div>
      </div>
      <div id="routeListInFactory">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">路线</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group" id="routeListGroupInFactory">
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div id="routes" style="display: <%= @show_full_view ? 'none' : 'inline' %>">
    <span class="hiddenSpan" id="routesIfNoneMatch"></span>
    <span class="hiddenSpan" id="routesIfModifiedSince"></span>
    <span class="hiddenSpan" id="preferencesUpdated">false</span>
    <div id="routeList">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">路线</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group" id="routeListGroup">
          </ul>
        </div>
      </div>
    </div>
    <div id="routeDetails">
      <div class="btn-toolbar" id="routesTreeControlButtons">
        <div class="btn-group">
          <button type="button" class="btn btn-default" id="openTree">全部展开</button>
          <button type="button" class="btn btn-default" id="collapseTree">全部合拢</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="updatePreferences">更新我的关注</button>
        </div>
        <% if @show_full_view %>
          <div class="btn-group">
            <button type="button" class="btn btn-info" id="toFactories">返回到工厂列表</button>
          </div>
        <% end %>
      </div>
      <div id="routesTree">
      </div>
    </div>
  </div>
</div>
<div class="containerDiv" id="recordsDiv">
  <div>
    <span class="hiddenSpan" id="recordsIfNoneMatch"></span>
    <span class="hiddenSpan" id="recordsIfModifiedSince"></span>
    <span class="hiddenSpan" id="recordsCalendarUpdated">false</span>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>起始时间</div>
      <div id="startTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>结束时间</div>
      <div id="endTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 15%" class="calendarWidgetDiv">
      <button type="button" class="btn btn-primary" style="margin-top: 16px" id="updateRecordsTableButton">
        更新数据
      </button>
    </div>
  </div>
</div>
<div class="containerDiv" id="historyDiv">
  <div style="width: 60%">
    <div style="width: 50%" class="calendarWidgetDiv">
      <div>起始时间</div>
      <div id="startTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 50%" class="calendarWidgetDiv">
      <div>结束时间</div>
      <div id="endTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
  </div>
  <div class="input-group">
    <div style="width: 20%">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" id="barcodeButton">更新</button>
          </span>
    </div>
    <div style="width: 80%">
      <input type="text" class="form-control" id="barcodeInput" placeholder="条形码"/>
    </div>
  </div>
  <div class="alert alert-warning" id="noHistoryBanner">没有历史纪录</div>
  <div class="alert alert-danger" id="errorBanner" style="display: none"></div>
  <div class="alert alert-info" id="infoBanner" style="display: none"></div>
  <div id="chartDiv"></div>
</div>
<div class="containerDiv" id="manageUsersDiv">
  <div id="createUserDiv" style="display: none" class="submissionForm">
    <h2 class="form-signin-heading">创建用户</h2>
    <input type="text" value="" required="required" placeholder="用户名" name="user[name]" id="user_name" class="form-control"/>
    <input type="email" value="" required="required" placeholder="电子邮箱" name="user[email]" id="user_email" class="form-control"/>
    <div id="userRoleSelection">
      <div style="width: 100px; margin-top: 8px; padding-left: 5px">
        <span style="font-size: 15px">用户级别</span>
      </div>
      <div style="width: 70%">
        <select class="form-control" id="userRole">
          <option value="2">普通用户</option>
          <option value="1">高级用户</option>
          <option value="0">管理员</option>
        </select>
      </div>
    </div>
    <input type="password" required="required" placeholder="密码" name="user[password]" id="user_password" class="form-control">
    <span style="display: block; margin-bottom: 8px">
      <input type="checkbox" name="option" value='1' onchange="changePasswordType('div#createUserDiv input#user_password')" style="margin-top: -2px" />
      显示密码
    </span>

    <button class="btn btn-warning" type="button" id="btnCancelCreateUser"/>取消</button>
    <button class="btn btn-primary" type="button" id="btnCreateUser"/>提交</button>
  </div>
  <div id="usersTableDiv">
    <span class="hiddenSpan" id="usersIfNoneMatch"></span>
    <span class="hiddenSpan" id="usersIfModifiedSince"></span>
  </div>
  <div id="add_delete_user_buttons">
    <button id="btnAddNewUser" class="btn btn-info" type="button">添加用户</button>
    <button id="btnDeleteUser" class="btn btn-danger" type="button">删除用户</button>
  </div>
</div>
<div class="containerDiv" id="manageDataDiv">
  <div id="managementButtons">
    <div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mediumWidth" type="button" data-toggle="dropdown">
          <span class="caret"></span>
          路线管理
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation"><a role="menuitem" data-div="createRoute">创建</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mediumWidth" type="button" data-toggle="dropdown">
          <span class="caret"></span>
          设备管理
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation"><a role="menuitem" data-div="createAsset">创建</a></li>
          <li role="presentation"><a role="menuitem" data-div="deleteAsset">删除</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mediumWidth" type="button" id="routesDropdownMenu" data-toggle="dropdown">
          <span class="caret"></span>
          检点管理
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" data-div="createPoint">创建</a></li>
          <li role="presentation"><a role="menuitem" data-div="attachPointToAsset">连接到设备</a></li>
          <li role="presentation"><a role="menuitem" data-div="attachPointToRoute">连接到路线</a></li>
          <li role="presentation"><a role="menuitem" data-div="deletePoint">删除</a></li>
        </ul>
      </div>
    </div>
    <div>
      <%= form_tag "/", method: "post", id: "uploadFile" do %>
        <div>
          <span class="btn btn-success fileinput-button">
              <i class="icon-upload icon-white"></i>
              <span>上传数据</span>
            <%= file_field_tag "files[]", multiple: true %>
          </span>
        </div>
      <% end %>
    </div>
    <div>
      <div>
          <span class="btn btn-info fileinput-button">
              <i class="icon-download icon-white"></i>
              <span>导出数据</span>
          </span>
      </div>
    </div>
  </div>
  <div id="managementData">
    <span class="hiddenSpan" id="addPointToAssetSpan">false</span>
    <div class="alert" style="display: none" id="uploadInfo">
    </div>
    <div id="createRoute" style="display: none" class="submissionForm">
      <h2 class="form-signin-heading">创建路线</h2>
      <input type="text" value="" required="required" placeholder="名称（必填）" id="routeName" class="form-control"/>
      <input type="text" value="" placeholder="描述" id="routeDescription" class="form-control"/>
      <div id="areaSelection">
        <div style="width: 100px; margin-top: 8px; padding-left: 5px">
          <span style="font-size: 15px">工区</span>
        </div>
        <div style="width: 70%">
          <select class="form-control" id="routeArea">
            <% Area.all.each do |a| %>
              <option value="<%= a.id %>">
                <%= a.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

      <div style="margin-top: 5px; display: block">
        <button class="btn btn-warning" type="button" id="btnCancelCreateRoute"/>重置</button>
        <button class="btn btn-primary" type="button" id="btnCreateRoute"/>提交</button>
      </div>
    </div>
    <div id="createAsset" style="display: none" class="submissionForm">
      <h2 class="form-signin-heading">创建设备</h2>
      <input type="text" value="" required="required" placeholder="名称（必填）" id="assetName" class="form-control"/>
      <input type="text" value="" placeholder="描述" id="assetDescription" class="form-control"/>
      <input type="text" value="" placeholder="条形码" id="assetBarcode" class="form-control"/>

      <div id="addedPointDiv">
      </div>
      <div style="margin-top: 5px; display: block">
        <button class="btn btn-warning" type="button" id="btnCancelCreateAsset"/>重置</button>
        <button class="btn btn-info" type="button" id="btnAddPointToAsset"/>添加检点</button>
        <button class="btn btn-primary" type="button" id="btnCreateAsset"/>提交</button>
      </div>
    </div>
    <div id="deleteAsset" style="display: none">
      <div id="assetsTableDiv">
        <span class="hiddenSpan" id="assetsIfNoneMatch"></span>
        <span class="hiddenSpan" id="assetsIfModifiedSince"></span>
      </div>
      <div id="add_delete_asset_buttons">
        <button id="btnDeleteAsset" class="btn btn-danger" type="button">删除设备</button>
      </div>
    </div>
    <div id="createPoint" style="display: none" class="submissionForm">
      <h2 class="form-signin-heading">创建检点</h2>
      <input type="text" value="" required="required" placeholder="名称（必填）" id="pointName" class="form-control"/>
      <input type="text" value="" placeholder="描述" id="pointDescription" class="form-control"/>
      <input type="text" value="" placeholder="条形码" id="pointBarcode" class="form-control"/>
      <div id="categorySelection">
        <div style="width: 100px; margin-top: 8px; padding-left: 5px">
          <span style="font-size: 15px">类型</span>
        </div>
        <div style="width: 70%">
          <select class="form-control" id="pointCategory">
            <% [10, 20, 30, 40, 41, 50].each do |category| %>
              <option value="<%= category %>">
                <%= get_category_string(category) %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
      <div>
        <div id="addPointChoiceDiv" style="display: none">
          <div id="addChoiceButtonDiv">
            <button type="button" id="addChoiceButton" class="btn btn-info btn-lg">
              添加
            </button>
          </div>
          <div id="pointChoiceDiv">
            <input type="text" value="" placeholder="填写选项" class="form-control"/>
            <div>
              <span class="lavenderBackground">
                <i class="icon-remove"></i>正常
              </span>
              <span class="lavenderBackground">
                <i class="icon-remove"></i>非正常
              </span>
            </div>
          </div>
        </div>
        <div id="fourChoicesDiv" style="display: none">
          <input type="text" value="" placeholder="正常上限" id="pointMax" class="form-control"/>
          <input type="text" value="" placeholder="警戒上限" id="pointHigh" class="form-control"/>
          <input type="text" value="" placeholder="警戒下限" id="pointLow" class="form-control"/>
          <input type="text" value="" placeholder="正常下限" id="pointMin" class="form-control"/>
        </div>
      </div>

      <div style="margin-top: 5px; display: block">
        <button class="btn btn-warning" type="button" id="btnCancelCreatePoint"/>重置</button>
        <button class="btn btn-primary" type="button" id="btnCreatePoint"/>提交</button>
      </div>
    </div>
    <div id="attachPointToAsset" style="display: none">
      <div id="assetsTableDiv">
        <span class="hiddenSpan" id="assetsIfNoneMatch"></span>
        <span class="hiddenSpan" id="assetsIfModifiedSince"></span>
      </div>
      <div id="attach_point_to_asset_button">
        <button id="btnAttachPointToAsset" class="btn btn-success" type="button">
          <i class="icon-upload icon-white"></i>
          连接检点到设备
        </button>
      </div>
      <div id="pointsTableDiv">
        <span class="hiddenSpan" id="pointsIfNoneMatch"></span>
        <span class="hiddenSpan" id="pointsIfModifiedSince"></span>
      </div>
    </div>
    <div id="attachPointToRoute" style="display: none">
      <div id="routesTableDiv">
        <span class="hiddenSpan" id="routesIfNoneMatch"></span>
        <span class="hiddenSpan" id="routesIfModifiedSince"></span>
      </div>
      <div id="attach_point_to_route_button">
        <button id="btnAttachPointToRoute" class="btn btn-success" type="button">
          <i class="icon-upload icon-white"></i>
          连接检点到路线
        </button>
      </div>
      <div id="pointsTableDiv">
        <span class="hiddenSpan" id="pointsIfNoneMatch"></span>
        <span class="hiddenSpan" id="pointsIfModifiedSince"></span>
      </div>
    </div>
    <div id="deletePoint" style="display: none">
      <div id="pointsTableDiv">
        <span class="hiddenSpan" id="pointsIfNoneMatch"></span>
        <span class="hiddenSpan" id="pointsIfModifiedSince"></span>
      </div>
      <div id="add_delete_point_buttons">
        <button id="btnDeletePoint" class="btn btn-danger" type="button">删除检点</button>
      </div>
    </div>
  </div>
</div>