<% provide(:title, "编辑用户信息") %>
<h1>用户信息</h1>

<div class="row">
  <div class="span6 offset3" id="userEditDiv">
    <%= form_for(current_user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label '用户名' %>
      <%= f.text_field :name, disabled: true %>

      <%= f.label '电子邮箱' %>
      <%= f.text_field :email, disabled: true %>

      <%= f.label '密码' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, '确认密码' %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "更新", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("form.edit_user").submit(function(e) {
      e.preventDefault();
      if (validateUserForm('div#userEditDiv')) {
        this.submit();
        return true;
      } else {
        //Prevent the submit event and remain on the screen
        return false;
      }
    });
  });
</script>