<div class="container-fluid">
  <div class="row">
    <div class="sidebar" id="sidebar">
      <ul class="nav nav-sidebar">
        <li class="active" id="routes">我的路线</li>
        <li id="records">我的巡检纪录</li>
        <li>设备历史</li>
      </ul>
    </div>
    <div class="containerDiv" id="routesDiv">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left">
            <%= image_tag("minus.png", :alt => "expand", :class => "media-object mediaListIcon") %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">路线一</h4>
            <span>描述</span>
            <ul class="media-list">
              <li class="media">
                <a class="pull-left">
                  <%= image_tag("minus.png", :alt => "expand", :class => "media-object mediaListIcon") %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">设备一</h4>
                  描述
                  <ul class="media-list">
                    <li class="media">
                      <a class="pull-left">
                        <%= image_tag("tool.png", :alt => "expand", :class => "media-object mediaListIcon") %>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">点一</h4>
                        描述
                      </div>
                    </li>
                    <li class="media">
                      <a class="pull-left">
                        <%= image_tag("tool.png", :alt => "expand", :class => "media-object mediaListIcon") %>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">点二</h4>
                        描述
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="media">
                <a class="pull-left">
                  <%= image_tag("plus.png", :alt => "expand", :class => "media-object mediaListIcon") %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">设备二</h4>
                  描述
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="media">
          <a class="pull-left">
            <%= image_tag("plus.png", :alt => "expand", :class => "media-object mediaListIcon") %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">路线一</h4>
            描述
          </div>
        </li>
        <li class="media">
          <a class="pull-left">
            <%= image_tag("plus.png", :alt => "expand", :class => "media-object mediaListIcon") %>
          </a>
          <div class="media-body">
            <h4 class="media-heading">路线一</h4>
            描述
          </div>
        </li>
      </ul>
    </div>
    <div class="containerDiv" id="recordsDiv">
      <div>
        <div style="width: 30%" class="calendarWidgetDiv">
          <div>起始时间</div>
          <div id="startTime" class="input-append">
            <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
        </div>
        <div style="width: 30%" class="calendarWidgetDiv">
          <div>结束时间</div>
          <div id="endTime" class="input-append">
            <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
        </div>
        <div style="width: 15%" class="calendarWidgetDiv">
          <button type="button" class="btn btn-primary" style="margin-top: 16px" id="updateRecordsTableButton">
            更新数据
          </button>
        </div>
      </div>
    </div>
  </div>
</div>