%h1 Welcome

- unless admin_signed_in?
  %p= link_to 'Sign in as Admin', new_admin_session_path
- unless user_signed_in?
  %p= link_to 'Sign in as User', new_user_session_path
- if user_signed_in?
  %p= "Signed in as: #{current_user.email}"

%h1 Quick Admin Links
%p= link_to 'Manage Assets', assets_path
%p= link_to 'Manage Check Points', check_points_path
%p= link_to 'Manage Routes', check_routes_path
%p= link_to 'Build Route with Assets', route_builders_path
%p= link_to 'Manage Check Results', check_results_url