<%= form_for(@check_route) do |f| %>
  <% if @check_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_route.errors.count, "error") %> prohibited this check_route from being saved:</h2>

      <ul>
      <% @check_route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>



    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
