<h1>Assets</h1>

<table border="1">
  <thead>
  <tr>
    <td>barcode</td>
    <td>number</td>
    <td>parent</td>
    <td>serialnum</td>
    <td>tag</td>
    <td>location</td>
    <td>description</td>
    <td>vendor</td>
    <td>failure_code</td>
    <td>manufacture</td>
    <td>purchase_pri</td>
    <td>replace_cost</td>
    <td>install_date </td>
    <td>warranty_expire </td>
    <td>total_cost</td>
    <td>ytd_cost</td>
    <td>budget_cost</td>
    <td>calnum</td>




  </tr>
  </thead>

  <tbody>

  <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.barcode %></td>
        <td><%= asset.number %></td>
        <td><%= asset.parent %></td>
        <td><%= asset.serialnum %></td>
        <td><%= asset.tag %></td>
        <td><%= asset.location %></td>
        <td><%= asset.description %></td>
        <td><%= asset.vendor %></td>
        <td><%= asset.failure_code %></td>
        <td><%= asset.manufacture %></td>
        <td><%= asset.purchase_pri %></td>
        <td><%= asset.replace_cost %></td>
        <td><%= asset.install_date %></td>
        <td><%= asset.warranty_expire %></td>
        <td><%= asset.total_cost %></td>
        <td><%= asset.ytd_cost %></td>
        <td><%= asset.budget_cost %></td>
        <td><%= asset.calnum %></td>



        <td><%= link_to 'Show', asset %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Destroy',  { action: :destroy, id: asset.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Asset', new_asset_path %>
