<div class="container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name),
               html: { method: :post, class: "form-signin" }) do |f| %>
    <%= devise_error_messages! %>

    <h2 class="form-signin-heading">重置密码</h2>
    <hr>
    <p class="message">
      忘记密码了？<br/>
      在下面输入您的电子邮件地址，我们会向您发送一封电子邮件，让您重置。
    </p>

    <%= f.email_field :email, autofocus: true,
                      class: "form-control", placeholder: "电子邮箱",
                      required: true %>

    <%= f.submit "重置我的密码", class: "btn btn-default btn-primary block-center" %>
  <% end %>
</div>

<%= render "users/shared/links" %>
