<p id="notice"><%= notice %></p>
<p>
  <strong>check_route_id:</strong>
  <%= @route_builder.check_route_id %>
</p>
<p>
  <strong>asset_id:</strong>
  <%= @route_builder.asset_id %>
</p>
<%= link_to 'Edit', edit_route_builder_path(@route_builder) %> |
<%= link_to 'Back', route_builders_path %>
