<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <span id="logo">移动巡检报修</span>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "用户主页", nil, :onclick => 'location.href="/"' %></li>
                <li><%= link_to "设置", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "登出", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "登入", new_user_session_path %></li>
          <% end %>
          <li><%= link_to "帮助", help_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>