<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "bootstrap-datetimepicker.min", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-datetimepicker.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-datetimepicker.zh", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "helper", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jshashset-3.0", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jshashtable-3.0", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.jqplot.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.dateAxisRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.ohlcRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.highlighter.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.canvasTextRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.canvasAxisTickRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.categoryAxisRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.barRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.canvasTextRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.canvasAxisLabelRenderer.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.canvasOverlay.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "plugins/jqplot.pointLabels.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery-ui-1.10.4.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.fileupload", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.iframe-transport", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.tmpl", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "knockout-2.2.1.debug", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.autocomplete", "data-turbolinks-track" => true %>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script language="javascript" type="text/javascript" src="excanvas.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]>
      <%= javascript_include_tag "json2", "data-turbolinks-track" => true %>
    <![endif]-->
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    <%= stylesheet_link_tag 'jquery.jqplot.min', :media => 'screen' %>
    <%= stylesheet_link_tag 'jquery.fileupload', :media => 'screen' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
