%html
  %head
    %title Patrol
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
      %p= link_to 'Home', root_path
      - if user_signed_in?
        #user_login_box{style: "float:right"}
          = current_user.email
          |
          \#{link_to 'My info', edit_user_registration_path} |
          \#{link_to 'Sign out', destroy_user_session_path, method: :delete}
      - if admin_signed_in?
        #admin_login_box{style: "float:left"}
          = current_admin.email
          |
          \#{link_to 'Admin section', admins_path} |
          \#{link_to 'Sign out', destroy_admin_session_path, method: :delete}
      = yield
